* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu;;
}

.gallery {
    position: relative;
    min-height: 100vh;
}

.gallery .title {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    /* punkt obrotu elementu! dla x i y */
}

.gallery h1 {
    font-size: 60px;
    color: yellow;
    background-color: black;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    height: 90%;
    width: 60%;
    /* background-color: gray; */
}

.gallery a {
    
    /* wszystkie el flexbox */
    flex-basis: calc(50% - 40px);
    /* przy flex-directin: row flex-basis dotyczy osi x elementów */
    height: 20%;
    margin: 0 20px;
    background-color: black;


    position: relative;
    overflow: hidden;
    /* te dwie linie, oraz poniższy zapis w img służą wycentrowaniu grafik w elemencie a */

    box-shadow: 0 0 3px 4px grey;
    /* przesunięcie na x i y 3px rozmycia, 4px grubości*/
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    min-width: 100%;
    min-height: 100%;

    /* width: 100%; */
    /* ustawia 100% szerokości rodzica czyli obrazki img mają 100% szerokości <a> */
}