body {
    min-height: 200vh;
}

div.wrapper {
    margin: 10px 100px;
    text-align: justify;
}

.wrapper p {
    font-size: 18px;
    line-height: 200%;
}

.burger {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 50px;
    z-index: 1;
    cursor: pointer;
    transition: .5s;
}

i.off {
    display: none;
}

i.fa-angle-up {
    color: white;
}

nav {
    position: fixed;
    left: 0;
    /* right: 0; */
    width: 100%;
    /* by miał 100% można zostawić tylko right: 0 */

    top: 0;
    height: 30vh;
    background-color: black;
    transition: .4s;
}

nav.off {
    top: -300px;
}

