div {
    display: flex;
    transform: rotate(20deg);
}

p {
    background-color: green;
    background-image: linear-gradient(green 0%, oragne 100%);
}

body p {
    width: 300px;
    font-size: 20px;
    border-radius: 20%;
    box-shadow: 0 0 2px 10px currentColor;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}